* {
    font-family: sans-serif;
}

main {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* intro section */
.form {
    gap: 16px;
    display: grid;
    width: 100%;
    max-width: 400px;
}

.form-container {
    gap: 8px;
    display: grid;
}

label {
    font-weight: 600;
    color: purple;
}

input {
    font-size: 15px;
    border: 2px solid #b0b0b0;
    padding: 8px 4px;
}

input::placeholder {
    color: #b9b9b9;
}

button {
    color: white;
    border: none;
    height: 40px;
    display: flex;
    font-size: 16px;
    align-items: center;
    background: purple;
    justify-content: center;
}

input,
button,
.playerName {
    border-radius: .35rem;
}

.hidden {
    display: none;
}

/* game section */
.grid-cols-2 {
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.playerContainer {
    display: grid;
    gap: 16px
}

.gameValue {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 2px solid;
    aspect-ratio: 1;
}

.playerName {
    width: 100%;
    font-weight: 600;
}